// @import 'setting';
@import 'header';
@import 'footer';
@import 'index';

.qaBox{
    width: 100%;
    // max-width: 1920px;
    margin: 0 auto;
    min-width: 1000px;
    background-image: linear-gradient(to bottom, #ffffff 50%, #f5f5f5);
    padding: 67px 0 96px;
    .title{
        font-size: 40px;
        letter-spacing: 3.67px;
        text-align: center;
        color: #000000;
        margin-bottom: 15px;
    }
    ul{
        li{
            margin-top: 30px;
            p{
                font-size: 20px;
                line-height: 36px;
                letter-spacing: 1px;
                color: #323232;
                &.ques{ font-weight: 500;}
                &.ans{ font-weight: 300;}
            }
            .imgBox{
                width: 480px;
                float: left;
                margin-right: 40px;
                margin-top: 15px;
                &:nth-child(2n){ margin-right: 0;}
                a{ 
                    width: 100%;
                    display: block;
                    position: relative;
                    .icon{
                        position: absolute;
                        width: 44px;
                        height: 44px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        padding: 12px;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 50%;
                        transition: all .3s;
                        img{
                            width: 20px;
                        }
                    }
                    &:hover{
                        .icon{ background-color: rgba(0, 0, 0, 1);}

                    }
                }
            }
        }
    }
}
.formBox{
    width: 100%;
    // max-width: 1920px;
    margin: 0 auto;
    min-width: 1000px;
    background: #ffffff;
    padding: 60px 0 75px;
    .title{
        font-size: 30px;
        line-height: 80px;
        letter-spacing: 1.88px;
        text-align: center;
        color: #000000;
        margin-bottom: 15px;
    }
    .form{max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
        .formGroup{
            margin-top: 20px;
            &:nth-child(1){ width: 300px; margin-right: 20px; float: left;}
            &:nth-child(2){ width: 480px; float: left;}
            &:nth-child(3){ width: 100%; margin-top: 25px; float: left;}
            input{
                -webkit-appearance: none; 
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 45px;
                border-radius: 10px;
                box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
                border: solid 1px #c8c8c8;
                line-height: 45px;
                font-size: 16px;
                letter-spacing: 1.33;
                text-align:center; 
                &:focus{
                    outline: 0;
                }
                &::-moz-placeholder { 
                    color: #969696;;
                }
                &::-webkit-input-placeholder{ 
                    color: #969696;;
                }
            }
            textarea{
                -webkit-appearance: none; 
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 200px;
                border-radius: 10px;
                box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
                border: solid 1px #c8c8c8;
                line-height: 40px;
                font-size: 16px;
                letter-spacing: 1.33;
                text-align:center; 
                &:focus{
                    outline: 0;
                }
                &::-moz-placeholder { 
                    color: #969696;;
                }
                &::-webkit-input-placeholder{ 
                    color: #969696;;
                }
            }
            button{
                -webkit-appearance: none; 
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 45px;
                border-radius: 10px;
                box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
                border: 0;
                line-height: 45px;
                font-size: 16px;
                letter-spacing: 1.33;
                text-align:center;
                margin-top: 10px;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(0,0,0,.1);
                }
                &:focus{
                    outline: 0;
                }
            }
        }
    }
    .company{
        // height: 80px;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: 3px;
        text-align: center;
        color: #323232;
        margin-top: 40px;
    }
}
