<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Airplus - 關於我們</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="Resource-type" content="" />
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/slick.css" />
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="css/about.css" />

	<!-- <link rel="Shortcut Icon" type="image/x-icon" href="img/favicon-20200130120352740.ico" /> -->

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/smtp.js"></script>


</head>

<body>
	<div id="app">
		<header>
			<div class="container clearfix">
				<h1 class="logo">
					<a href="index.html">
						<img src="img/logos/icon_logo_airplus_202x32.png" alt="">
					</a>
				</h1>
				<nav>
					<ul>
						<li class="sub-menu-parent" tab-index="0">
							<a href="product.html">設計商品</a>
							<ul class="sub-menu">
								<li><a href="page_pump.html">AirPlus⁺ 智慧型真空/充氣兩用馬達</a></li>
								<li><a href="page_acvb.html">AirPlus⁺ 四合一多功能防撞收納袋</a></li>
								<li><a href="page_vsb.html">AirPlus⁺ 真空/充氣兩用收納袋</a></li>
								<li><a href="page_giftbox.html">AirPlus⁺ 禮盒組</a></li>
							</ul>
						</li>
						<li class="sub-menu-parent" tab-index="0">
							<a class="active" href="about.html">關於 AirPlus⁺</a>
						</li>
						<li class="sub-menu-parent" tab-index="0">
							<a href="QA.html">常見問題</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="wrapper">
			<div class="brandBox">
				<div class="container clearfix">
					<div class="txtBox">
						<div class="tag">品牌故事</div>
						<div class="subtitle">「保護行李，守住回憶」</div>
						<p>旅遍世界，少不了極具意義的紀念品 <br>
							<br>
							當年赴義大利旅行時<br>
							買了夢寐以求的 Toscana Chianti 紅酒<br>
							小心翼翼地用衣物<br>
							將酒瓶包裹一層又一層<br>
							再把行李箱內空間卡得嚴絲合縫<br>
							確保託運時安全無虞、萬無一失!!<br>
							<br>
							然而<br>
							經過十幾個小時航程回到家<br>
							懷著興奮心情打開行李箱時<br>
							卻只得到幾件<br>
							被染成紅色、酒香四溢的襯衫…
						</p>
						<p class="summary">
							<span class="font__lightblue font700">Air</span><span class="font__royalblue font700">Plus⁺</span>
							就是「化心碎為靈感」而誕生的創意產品
						</p>
					</div>
					<div class="imgBox lg"><img src="img/photos/airplus_illustrator_about_1.png" alt=""></div>
				</div>
				<div class="container clearfix">
					<div class="txtBox">
						<div class="subtitle">方便、輕巧、多功能<br>易碎品防撞包裝組</div>
						<p>我們始終深信<br>
							每位熱愛生命的旅人<br>
							都值得擁有最特別的旅程<br>
							<br>
							創造美好回憶的同時<br>
							請讓 <span class="font__lightblue font700">Air</span><span class="font__royalblue font700">Plus⁺</span><br>
							幫您輕鬆順利帶回旅途中的戰利品
						</p> 
					</div>
					<div class="imgBox md"><img src="img/photos/airplus_illustrator_about_giftbox.png" alt=""></div>
				</div>
			</div>
			<div class="awardBox">
				<div class="container clearfix">
					<div class="txtBox">
						<div class="title">雙項專利<br>品質保證 </div>
						<p>做別人沒做過的<br>
								想別人不敢想的<br>
								<br>
								堅持每個細節<br>
								都是為了給你最好的</p>
					</div>
					<div class="imgBox clearfix">
						<img src="img/photos/airplus_patent_certificate_1.jpg" alt="">
						<img src="img/photos/airplus_patent_certificate_2.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="futureBox">
				<div class="container">
					<div class="txtBox align__center">
						<div class="tag">未來展望</div>
						<div class="title">放心  我們也注重CP值</div>
						<div class="subtitle">實用。耐用。好用<br>「輕鬆收納，簡單生活」</div>
						<p>AirPlus⁺ 深信，<br>
							收納產品應該讓您的生活輕鬆便利，<br>
							而不是成為塞在角落裡生灰塵、佔空間的廢品。<br>
							<br>
							因此在一開始設計「智慧型抽充氣兩用馬達」時，<br>
							就已經考慮到與市售日常用品的相容性，<br>
							以及與 AirPlus⁺ 未來系列商品的支援性。<br>
							<br>
							除了搭配「四合一多功能防撞收納袋」及「真空/充氣兩用收納袋」之外，<br>
							「智慧型抽充氣兩用馬達」還可以自由地使用在市售產品上。<br>
							所以絕對不需要擔心購買了 AirPlus⁺ 產品之後，<br>
							會淪為想丟又不敢丟、深怕也許哪天會用到的產品。
						</p>
						<p class="summary">
							<span class="font__lightblue font700">Air</span><span class="font__royalblue font700">Plus⁺</span>
							為您打造便利的居家生活
						</p>
					</div>
				</div>
			</div>
			<div class="formBox">
				<div class="container">
					<div class="title">沒找到想問的問題？您可以留言發問唷！</div>
					<div class="form">
						<div class="formGroup">
							<input type="text" v-model="name" id="name" placeholder="姓名" required />
						</div>
						<div class="formGroup">
							<input type="text" v-model="email" id="email" placeholder="e-mail" required />
						</div>
						<div class="formGroup">
							<textarea id="message" v-model="message" name="message" placeholder="請留言" rows="4" cols="50"></textarea>
						</div>
						<div class="formGroup">
							<button v-on:click="sendEmail()">送出</button>
						</div>
					</div>
					<div class="company">新意創新有限公司 &nbsp;&nbsp; Nuidea Co., Ltd.</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container clearfix">
				<div class="footer_head clearfix">
					<a class="logo" href="index.html">
						<img src="img/logos/icon_logo_airplus_202x32.png" alt="">
					</a>
					<a class="facebook" href="https://www.facebook.com/AirPlusPump/" target="_blank">
						<img src="img/logos/icon_logo_facebook.png" alt="">
						<div class="content">關注 AirPlus⁺ 社群 
							<span>獲得最新優惠商品訊息</span>
								</div>
					</a>
					<a class="gotoTop" href="javascript:;">
						<img src="img/btns/icon_indi_top.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="product.html">設計商品</a>
							<ul class="item">
								<li><a href="page_pump.html">AirPlus⁺ 智慧型真空/充氣兩用馬達</a></li>
								<li><a href="page_acvb.html">AirPlus⁺ 四合一多功能防撞收納袋</a></li>
								<li><a href="page_vsb.html">AirPlus⁺ 真空/充氣兩用收納袋</a></li>
								<li><a href="page_giftbox.html">AirPlus⁺ 禮盒組</a></li>
							</ul>
						</li>
						<li class="" tab-index="0">
							<a href="about.html">關於 AirPlus⁺</a>
							<ul class="item">
								<li><a href="about.html">AirPlus⁺ 理念</a></li>
								<li><a href="https://www.facebook.com/AirPlusPump/" target="_blank">FB粉絲團</a></li>
							</ul>
						</li>
						<li class="" tab-index="0">
							<a href="QA.html">常見問題</a>
						</li>
						<li class="" tab-index="0">
							<a href="QA.html#contact">聯絡我們</a>
							<ul class="item">
								<li class="corporation">新意創新有限公司 Nuidea Co., Ltd.</li>
								<li class="mail">客服信箱<span></span><a href="mailto:service@airplusgo.com">service@airplusgo.com</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</footer>

		<section class="popup" v-bind:class="{ is_acted: popupIndex == 10 }">
			<div class="formGroup">
				{{msg}}
			</div>
		</section>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				popupIndex: 0,
				name: "",
				email: "",
				message: "",
				msg: ""
			},
			methods: {
				showPopup: function (tag) {
					$('.slider_popup').slick('slickGoTo', 0)
					this.popupIndex = tag
				},
				sendEmail: function () {
					var self = this;

					self.msg = "表單傳送中...。"
					self.popupIndex = 10

					var content = "姓名:" + self.name + "<br>" +
						"信箱:" + self.email + "<br>" +
						"留言:" + self.message + "<br>";

					Email.send({
						SecureToken: "00ccae85-efa5-44a9-b85d-7aaa977a488e", //勿更動
						To: 'gn01658704@gmail.com', //收件者填這
						From: "tt836427@gmail.com", //寄件者email，此為虛擬，勿更動
						Subject: "我要留言發問", //信件主旨
						Body: content
					}).then(
						message => {
							if (message == "OK") {
								self.msg = "您已成功送出表單，將有專人與您聯絡。"
								setTimeout(function () {
									self.popupIndex = 0
								}, 3000);
							} else {
								self.msg = "表單送出失敗，請重新送出。"
							}
						}
					);
				}
			}
		})

		new WOW().init();
		
		$(".imgLiquidFill").imgLiquid();

		$('.slider_interest').slick({
			infinite: true,
			autoplay: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			// centerMode: true,
			arrows: false,
			dots: true
		});

		$(".gotoTop").on("click", function () {
			$("html, body").animate({ scrollTop: 0 }, 500);
		});

	</script>

</body>

</html>