<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Airplus - 常見問題</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="Resource-type" content="" />
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/slick.css" />
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="css/QA.css" />

	<!-- <link rel="Shortcut Icon" type="image/x-icon" href="img/favicon-20200130120352740.ico" /> -->

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/smtp.js"></script>
	<!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->


</head>

<body>
	<div id="app">
		<header>
			<div class="container clearfix">
				<h1 class="logo">
					<a href="index.html">
						<img src="img/logos/icon_logo_airplus_202x32.png" alt="">
					</a>
				</h1>
				<nav>
					<ul>
						<li class="sub-menu-parent" tab-index="0">
							<a href="product.html">設計商品</a>
							<ul class="sub-menu">
								<li><a href="page_pump.html">AirPlus⁺ 智慧型真空/充氣兩用馬達</a></li>
								<li><a href="page_acvb.html">AirPlus⁺ 四合一多功能防撞收納袋</a></li>
								<li><a href="page_vsb.html">AirPlus⁺ 真空/充氣兩用收納袋</a></li>
								<li><a href="page_giftbox.html">AirPlus⁺ 禮盒組</a></li>
							</ul>
						</li>
						<li class="sub-menu-parent" tab-index="0">
							<a href="about.html">關於 AirPlus⁺</a>
						</li>
						<li class="sub-menu-parent" tab-index="0">
							<a class="active" href="QA.html">常見問題</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="wrapper">
			<div class="qaBox">
				<div class="container">
					<div class="title">常見問題</div>
					<ul>
						<li>
							<p class="ques">1. AirPlus⁺ Pump 馬達產品的保固期限為多久？</p> 
							<p class="ans">答: AirPlus⁺ 提供一年保固。自銷售日起 12 個月的保固期內，若於正常使用狀況下發生故障，只要提供購買時的收據發票，AirPlus⁺ 將免費維修或替換。 (* 隨機附贈之贈品恕不在保固範圍內。 )</p>
						</li>
						<li>
							<p class="ques">2. AirPlus⁺ Pump 馬達可以托運上飛機嗎？</p>
							<p class="ans">答: AirPlus⁺ Pump 馬達為全機無電池設計，可以放心置於行李箱內托運，毋需隨身攜帶上機。</p>
						</li>
						<li>
							<p class="ques">3. 各國電壓不同，可以在不同的國家使用 AirPlus⁺ Pump 馬達嗎？</p>
							<p class="ans">答: AirPlus⁺ Pump 馬達使用國際標準的 Micro-USB 接頭，購買 AirPlus⁺ Pump 馬達時皆會附贈一條 Micro-USB 充電線，可以連接行動電源、手機充電轉接器及電腦使用。</p>
						</li>
						<li>
							<p class="ques">4. AirPlus⁺ Pump 馬達只能用在 AirPlus⁺ 專屬收納袋嗎？</p>
							<p class="ans">答: AirPlus⁺ Pump 馬達的抽/充氣接頭經過特別設計，除了 AirPlus⁺ 的收納袋外，還可以直接使用於 3M 真空保鮮盒、食物保鮮袋 ( 具有 Air Valve - 藍點積層氣閥 ) 等，不需要任何額外的轉接配件。</p>
						</li>
						<li>
							<p class="ques">5. AirPlus⁺ 有幾種尺寸的真空袋可供選擇？</p>
							<p class="ans">答:  AirPlus⁺ 目前已推出 2 款尺寸的真空收納袋 ( M & L ) 及 1 款防撞收納袋提供選擇，未來將視消費者需求陸續推出不同尺寸收納袋。</p>
						</li>
						<li class="clearfix">
							<p class="ques">6. AirPlus⁺ 防撞真空袋的防撞能力是否經過測試？</p>
							<p class="ans">答: AirPlus⁺ 防撞真空袋已通過國際安全運輸協會 (ISTA) 2A 的包裝落下測試規範 ( 物品重量小於 20 pounds ( 9.08 公斤 )，落下測試高度為 38 inches ( 96.5 公分 ) )。經實驗室證明，將一瓶玻璃瓶裝紅酒放入防撞真空袋後，從測試設備上直接落下，玻璃酒瓶在外部氣囊的保護下可以毫髮無傷。
							</p>
							<div class="imgBox">
								<a href="https://www.youtube.com/watch?v=tYKjT3E6n00&feature=youtu.be" target="_blank">
									<img src="img/photos/airplus_youtube_photo_horizontal.jpg" alt="">
									<div class="icon"><img src="img/icons/icon_act_play.png" alt=""></div>
								</a>
							</div>
							<div class="imgBox">
								<a href="https://www.youtube.com/watch?v=x1HdtpWpXOU&feature=youtu.be" target="_blank">
									<img src="img/photos/airplus_youtube_photo_vertical.jpg" alt="">
									<div class="icon"><img src="img/icons/icon_act_play.png" alt=""></div>
								</a>
							</div>
						</li>
						<li>
							<p class="ques">7. AirPlus⁺ 防撞真空袋只能裝玻璃酒瓶嗎？</p>
							<p class="ans">答: 任何易碎品皆可裝入防撞真空袋，但要注意尖銳部位需用其他軟性材料包覆 ( 如泡棉、厚棉布等 )，避免因尖銳部位刺穿氣囊導致無法保護袋內物品的情況。
								</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="formBox">
				<div class="container">
					<div class="title">沒找到想問的問題？您可以留言發問唷！</div>
					<div class="form">
						<div class="formGroup">
							<input type="text" v-model="name" id="name" placeholder="姓名" required />
						</div>
						<div class="formGroup">
							<input type="text" v-model="email" id="email" placeholder="e-mail" required />
						</div>
						<div class="formGroup">
							<textarea id="message" v-model="message" name="message" placeholder="請留言" rows="4" cols="50"></textarea>
						</div>
						<div class="formGroup">
							<button v-on:click="sendEmail()">送出</button>
						</div>
					</div>
					<div class="company">新意創新有限公司 &nbsp;&nbsp; Nuidea Co., Ltd.</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clearfix">
				<div class="footer_head clearfix">
					<a class="logo" href="index.html">
						<img src="img/logos/icon_logo_airplus_202x32.png" alt="">
					</a>
					<a class="facebook" href="https://www.facebook.com/AirPlusPump/" target="_blank">
						<img src="img/logos/icon_logo_facebook.png" alt="">
						<div class="content">關注 AirPlus⁺ 社群 
							<span>獲得最新優惠商品訊息</span>
								</div>
					</a>
					<a class="gotoTop" href="javascript:;">
						<img src="img/btns/icon_indi_top.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="product.html">設計商品</a>
							<ul class="item">
								<li><a href="page_pump.html">AirPlus⁺ 智慧型真空/充氣兩用馬達</a></li>
								<li><a href="page_acvb.html">AirPlus⁺ 四合一多功能防撞收納袋</a></li>
								<li><a href="page_vsb.html">AirPlus⁺ 真空/充氣兩用收納袋</a></li>
								<li><a href="page_giftbox.html">AirPlus⁺ 禮盒組</a></li>
							</ul>
						</li>
						<li class="" tab-index="0">
							<a href="about.html">關於 AirPlus⁺</a>
							<ul class="item">
								<li><a href="about.html">AirPlus⁺ 理念</a></li>
								<li><a href="https://www.facebook.com/AirPlusPump/" target="_blank">FB粉絲團</a></li>
							</ul>
						</li>
						<li class="" tab-index="0">
							<a href="QA.html">常見問題</a>
						</li>
						<li class="" tab-index="0">
							<a href="QA.html#contact">聯絡我們</a>
							<ul class="item">
								<li class="corporation">新意創新有限公司 Nuidea Co., Ltd.</li>
								<li class="mail">客服信箱<span></span><a href="mailto:service@airplusgo.com">service@airplusgo.com</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</footer>
		<section class="popup" v-bind:class="{ is_acted: popupIndex == 10 }">
			<div class="formGroup">
				{{msg}}
			</div>
		</section>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				popupIndex: 0,
				name: "",
				email: "",
				message: "",
				msg: ""
			},
			methods: {
				showPopup: function (tag) {
					this.popupIndex = tag
				},
				sendEmail: function () {
					var self = this;

					self.msg = "表單傳送中...。"
					self.popupIndex = 10

					var content = "姓名:" + self.name + "<br>" +
						"信箱:" + self.email + "<br>" +
						"留言:" + self.message + "<br>";

					Email.send({
						SecureToken: "00ccae85-efa5-44a9-b85d-7aaa977a488e", //勿更動
						To: 'webservice@airplusgo.com', //收件者填這
						From: "tt836427@gmail.com", //寄件者email，此為虛擬，勿更動
						Subject: "" + self.name + " / " + self.email + " / " + "我要留言發問", //信件主旨, //信件主旨
						Body: content
					}).then(
						message => {
							console.log(message)
							if (message == "OK") {
								self.msg = "您已成功送出表單，將有專人與您聯絡。"
								setTimeout(function () {
									self.popupIndex = 0
								}, 3000);
							} else {
								self.msg = "表單送出失敗，請重新送出。"
							}
						}
					);
				}
			}
		})
			
		new WOW().init();
		
		$(".imgLiquidFill").imgLiquid();

		$('.slider_interest').slick({
			infinite: true,
			autoplay: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			// centerMode: true,
			arrows: false,
			dots: true
		});

		$(".gotoTop").on("click", function () {
			$("html, body").animate({ scrollTop: 0 }, 500);
		});

	</script>

</body>

</html>